{%extends "type/layouts/main.html"%}

{%block content%}
<h1>Thank You</h1>
<img class="im" src="https://media.giphy.com/media/KOfp5sCYol4S4/200.gif" style="max-width: 100%; max-height: 100%;"/>
      
        <p>I will Try my best in Improving. <br>‎  ‎  ‎ ‎  ‎  ‎ FeedBack Submitted</p>
        <button onclick="window.location.href='home'">Home</button>      
  <style>
    .im{
      position: relative;
      top: 120px;
      left:600px;
    }
    h1{
      position: relative;
      left: 620px;
      top: 130px;
      font-family: Arial, Helvetica, sans-serif;
    }
    p{
      position: relative;
      left: 580px;
      top:130px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    button{
      position: relative;
      left:670px;
      top:150px;
      border-radius: 3px;
      font-weight: bold;
      width: 70px ;
      height: 30px;
      background-color: yellow;

    }
    html { overflow-y: hidden; 
    overflow-x: hidden;
    }

  </style>


{%endblock content%}