<!-- Navbar Typee-->

<nav class="navbar navbar-expand-lg navbar-light " style="background: transparent;">
  <a href="home" class="pull-left"><img src="https://www.img2link.com/images/2023/03/17/d3abaaa35e26d810f442d4bca906741c.jpg" width="85px" height="85px"></a> 
    <a class="navbar-brand" href="home">Typee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" id="about" href="about">About</a>
        <a class="nav-item nav-link" href="feedback">Feedback</a>
        <a class="nav-item nav-link disabled" href="source_code">Source Code</a>
      </div>
</div>
  </nav>